.reveal {
    ul {
        list-style: circle!important;
    }

    .text-small {
        font-size: 0.6em;
    }

    .source {
        margin-top: 10px;
        font-size: 0.4em;
        font-style: italic;
    }
}